%h1= @proj.name

%h2.headerTitle Alerts
.alertContainer.rounded

%h2.headerTitle Power Supplies
.supplyContainer.rounded
	%ul
		- @supplies.each do |s|
			%li
				.supplyEntry
					%span.timestamp= s.timestamp.httpdate
					%span.logmessage= s.name
					%span.logmessage= s.ip
					%span.logmessage= s.sn
					%span.logmessage= s.nodes
%button#supplyDeleteButton.deleteButton{"data-project-id" => @proj.id} Clear


%h2.headerTitle Log Messages
.projectLogContainer.rounded
	%ul
		- @logs.each do |l|
			%li
				.logEntry
					%span.timestamp= l.timestamp.httpdate
					%span.logmessage= l.entry
%button#logDeleteButton.deleteButton{"data-project-id" => @proj.id} Clear
	
					

					