%h1= @proj.name

%h2.headerTitle Alerts
- if @alerts.empty?
	.alertContainer.rounded
		.noAlertMessage No alerts
- else
	- @alerts.each do |a|
		.ui-state-error.roundedLabel
			%span.ui-icon.ui-icon-alert.warningImage
			%span.alertEntry.ui-state-error= a

.supplyArea
	%h2.headerTitle Power Supplies
	.supplyContainer.rounded
		%ul
			- @supplies.each do |s|
				%li
					.supplyEntry
						%span.supplyName= s.name
						%span.timestamp IP Address
						%span.logmessage= s.ip
						%span.timestamp Serial Number
						- snStr = "0x%08x" % s.sn.to_i
						%span.logmessage= snStr
						%span.timestamp Node Count
						%span.logmessage= s.nodes

	%button#supplyDeleteButton.deleteButton{"data-project-id" => @proj.id} Clear


%h2.headerTitle Log Messages
.projectLogContainer.rounded
	%ul
		- @logs.each do |l|
			%li
				.logEntry
					%span.projectLogTimestamp= l.timestamp.httpdate
					%span.logmessage= l.entry
%button#logDeleteButton.deleteButton{"data-project-id" => @proj.id} Clear
	
					

					